name: KOS Check on PRs

on:
  pull_request:
    branches:
      - master
    paths:
      - 'include/**'
      - 'kernel/**'
      - 'addons/**'
      - 'utils/**'

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        tag:
          - "13.3-legacy"
          - "14.2-stable"
          - "15.0-dev"

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull Toolchain Image
        run: |
          docker pull ghcr.io/kallistiosunchained/dc-toolchain:${{ matrix.tag }}

      - name: Build SDK
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:/opt/toolchains/dc/kos \
            -w /opt/toolchains/dc/kos \
            ghcr.io/kallistiosunchained/dc-toolchain:${{ matrix.tag }} \
            "source environ.sh.master && make all V=1 | tee build.log"

      - name: Upload Build Logs
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: build-logs-${{ matrix.tag }}-pr-${{ github.event.pull_request.number }}-${{ github.run_id }}
          path: build.log

